body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

header {
    padding: 20px;
}

input, button {
    padding: 10px;
    margin: 10px;
}


.movies-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
}

.movie {
    text-align: center;
    min-width: 150px;
}

.movie img {
    width: 100%;
    border-radius: 10px;
}

#searchResults {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
}

